body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 375px) {
    body {
        background-image: url('/assets/images/background-mobile.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media (min-width: 375px) and (max-width: 1440px) {
    body {
        background-image: url('/assets/images/background-tablet.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1440px) {
    body {
        background-image: url('/assets/images/background-desktop.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

/* Header */
#navbar {
    display: flex;
    justify-content: center;
    margin: 20px 0 0px 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 700px;
    margin: 0 auto;
}

.header_text {
    font-family: Inconsolata;
    font-size: 36px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.subtitle_text {
    font-family: Inconsolata;
    font-size: 16px;
    text-align: center;
    color: hsl(252, 6%, 83%);
}

/* Form */
#ticket_form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#upload_file>label {
    color: #ffffff;
    font-family: Inconsolata;
}

/* Upload */
#upload_area {
    margin: 8px 0;
    width: 100%;
    height: 80px;
    border: 1px dashed hsl(245, 15%, 58%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    background-color: hsla(245, 19%, 35%, 0.356);
}

#upload_area:hover {
    background-color: hsla(245, 19%, 35%, 0.658);
}

#upload_area>img {
    width: 30px;
}

.alt_text {
    font-family: Inconsolata;
    color: hsl(252, 6%, 83%);
    margin: 10px 0 0 0;
    font-size: 14px;
}

.help_text {
    color: hsl(245, 15%, 58%);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

/* Other Info */
#other_info {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#other_info>label {
    color: #ffffff;
    font-family: Inconsolata;
}

.input_main {
    margin: 8px 0 5px 0;
    padding: 3px 10px;
    height: 30px;
    color: #ffffff;
    border: 1px solid hsl(245, 15%, 58%);
    border-radius: 5px;
    background-color: hsla(245, 19%, 35%, 0.356);
    font-family: Inconsolata;
}

.input_main:hover {
    background-color: hsla(245, 19%, 35%, 0.658);
}

.submit {
    padding: 9px 0;
    border-radius: 5px;
    border: none;
    font-family: Inconsolata;
    font-weight: bold;
    background-color: hsl(7, 88%, 67%);
}

.error {
    color: red;
    font-size: 13px;
    margin: 4px 0 15px 0;
}

/* Ticket */
#gen_ticket {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#gen_name {
    background: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gen_email {
    color: hsl(7, 71%, 60%);
}

#ticket {
    position: relative;
    margin: 80px 0 0 0;
    background-image: url(/assets/images/pattern-ticket.svg);
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 196px;
}

#org {
    position: relative;
}

#org_img {
    position: relative;
    top: 15px;
    left: 13px;
    width: 25px;
    height: 25px;
}

#org_name {
    position: relative;
    display: inline;
    left: 18px;
    font-size: 24px;
    font-family: Inconsolata;
    color: #ffffff;
    top: 8px;
}

#org_date {
    position: relative;
    left: 47px;
    font-size: 12px;
    font-family: Inconsolata;
    color: hsl(245, 15%, 58%);
    top: 8px;
}

#cust {
    position: relative;
    margin-top: 90px;
}

#cust_img {
    width: 50px;
    position: relative;
    bottom: 15px;
    left: 15px;
    border-radius: 10px;
}

#cust_name {
    color: #ffffff;
    font-family: Inconsolata;
    margin: 0;
    display: inline;
    position: relative;
    bottom: 45px;
    left: 20px;
}

#cust_github {
    color: hsl(245, 15%, 58%);
    font-family: Inconsolata;
    margin: 0;
    display: flex;
    position: relative;
    top: -40px;
    left: 70px;
    align-items: center;
}

.attribution {
    margin: 50px 0 20px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}


.attribution a {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    color: #00acb8;
    text-decoration: none;
}